body {
  background-image: url(../images/scrabble_2.jpg);
  }

header {
  text-align: center;
  font-family: "Alexandria", sans-serif;
  font-size: 42px;
  margin-top: 10px;
  color: rgba(230, 219, 138);
  text-shadow: 2px 2px 2px rgb(70, 80, 90);
}

@media (max-width: 576px) {
  header {
    font-size: 32px;
  }
}
