body {
  background-image: url(../images/letters_1.jpg);
}

header {
  text-align: center;
font-family: 'Alexandria', sans-serif;
  font-size: 40px;
  margin-top: 10px;
  color: rgba(230, 219, 138, 0.938);
  text-shadow: 2px 2px 2px rgb(119, 136, 153);
}

@media (max-width: 576px) {
  header {
      font-size: 30px;
  }
}