.Footer p {
  text-align: center;
  font-size: 14px;
  color: rgba(63, 63, 63, 0.8);
 margin: 30px auto;
  display: block;
  font-style: normal;
  max-width: 60%;
  padding: 10px;
}

.Footer a {
  color: rgba(63, 63, 63);
}

a:hover {
  color: rgba(230, 219, 138, 0.938);
   cursor: pointer;
}
