.Footer p {
  font-size: 14px;
  color: rgba(168, 168, 168, 0.8);
  text-align: center;
  margin: 0 auto;
  display: block;
  font-style: normal;
  max-width: 60%;
  text-shadow: none;
  padding: 10px;
}

.Footer a {
  color: rgba(168, 168, 168);
}

a:hover {
  color: rgba(230, 219, 138, 0.938);
}

/* @media (max-width: 576px) {
  .Footer p {
    max-width: 60%;
  }
} */
