form {
  text-align: center;
}

input {
  border-radius: 25px;
  border: #f8f9fa;
  line-height: 25px;
  opacity: 0.5;
  padding-left: 10px;
}

button {
  background: rgba(230, 219, 138, 0.938);
  color: #f8f9fa;
  font-size: 14px;
  line-height: 14px;
  padding: 8px;
  margin: 5px;
  border-radius: 100%;
  border: 1px solid rgba(230, 219, 138, 0.938);
  transition: all 200ms ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
button:hover {
  background: rgba(0, 0, 0, 0.507);
  cursor: pointer;
}

@media (max-width: 576px) {
  form {
    font-size: 14px;
  }

  input {
    line-height: 16px;
  }

  button {
    font-size: 12px;
    line-height: 12px;
  }
}
